DirectoryIndex index.html

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.html|robots\.txt)

RewriteRule ^(.*)$ index.html?/$1 [L]

RewriteEngine On
RewriteRule ^socket/(.*) localhost:3000/$1 [P]
